@model IEnumerable<Roblox.ApiControlPlane.Client.IOperation>
@section scripts {
    @Scripts.Render("~/Scripts/Services.js")
    @Styles.Render("~/bundles/config-styles")
}
@{
    ViewBag.Title = "Operation Configuration";
}

@Html.Hidden("current-service-name", (string)ViewBag.CurrentServiceName)
<div>
    <h3>@ViewBag.CurrentServiceName Operations</h3>
    <span id="operations-default-number">@Model.Count() operations found.</span>
    <div id="operationsResultsDiv" class="resultsContainer">
        @Html.Partial("Table", Model)
    </div>
</div>
