@model Roblox.Settings.Site.Models.Configuration.ConfigGroupModel

<tr id="configuration-group-@Model.Id" class="configuration-group-row" data-id="@Model.Id" data-url="/ConfigurationGroups/GroupRow/@Model.Id" data-completed-value="False">
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td><a href="/settings/list?groupName=@Model.Name">@Model.Settings</a></td>
    <td><a href="/connection-strings/list?groupName=@Model.Name">@Model.ConnectionStrings</a></td>
</tr>