@model ConfigurationGroupElementViewModel

<tr id="configuration-group-@Model.ID" class="configuration-group-row" data-id="@Model.ID" data-url="/ConfigurationGroups/GroupRow/@Model.ID" data-completed-value="False">
    <td>@Model.ID</td>
    <td>@Model.Name</td>
    <td><a href="/settings/list?groupName=@Model.Name">@Model.Settings</a></td>
    <td><a href="/connection-strings/list?groupName=@Model.Name">@Model.ConnectionStrings</a></td>
</tr>