@model Roblox.Settings.Site.Models.Configuration.SettingModel

<td>@Html.ActionLink(Model.Id.ToString(), "SettingDetails", new { id = Model.Id })</td>
<td style="width: 110px">
    <div class="btn-group">
        <button type="button" class="btn btn-warning btn-xs" data-current-deployment data-status="RollBack" data-extra-message="This will roll back to &lt;strong&gt;&lt;/strong&gt;.">Roll back</button>
        <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Edit", "", null, new { href = "#" })</li> @* data-extra-message = "This will roll back to &lt;strong&gt;&lt;/strong&gt;." *@
            <li><a href="#" data-current-deployment data-status="RetryFailures" data-extra-message="This will retry &lt;strong&gt;1&lt;/strong&gt; failure(s).">Retry Failures</a></li>
            <li><a href="#" data-patch data-extra-message="This will create a release branch in github from d19f7b2ba8277f061a60728b701d61b98fae60e3 for patching.">Patch</a></li>
            <li><a href="#" data-redo-deployment>Re-queue</a></li>
        </ul>
    </div>
</td>
<td>@Html.DisplayFor(modelItem => Model.GroupName)</td>
<td>@Html.DisplayFor(modelItem => Model.Name)</td>
<td>@Html.DisplayFor(modelItem => Model.Type)</td>
<td>@Html.DisplayFor(modelItem => Model.Value)</td>
<td>@Html.DisplayFor(modelItem => Model.Comment)</td>
<td>@Html.DisplayFor(modelItem => Model.Updated)</td>
<td>@Html.DisplayFor(modelItem => Model.IsMasked)</td>
<td>@Html.DisplayFor(modelItem => Model.IsEnvironmentSpecific)</td>
<td></td>