@model Roblox.ApiControlPlane.Client.IService

<tr class="service-row" data-id="@Model.ID" data-name="@Model.Name" data-enabled="@Model.IsEnabled">
    <td>@Model.ID</td>
    <td style="text-align: center;">
        <button type="button" class="btn @(Model.IsEnabled ? "btn-primary" : "btn-default") btn-xs" data-toggle-service data-toggle-value="@(!Model.IsEnabled)">
            @if (Model.IsEnabled)
            {
                <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-remove"></span>
            }
        </button>
    </td>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.ActionLink(
            linkText: "(List)",
            actionName: "Config",
            controllerName: "Operations",
            routeValues: new { serviceName = Model.Name },
            htmlAttributes: null
        )</td>
    <td>@Html.DisplayFor(m => m.Created)</td>
    <td>@Html.DisplayFor(m => m.Updated)</td>
</tr>